@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background: #000;
}

h1,
h4,
a,
p {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn {
    padding: 12px 32px;
    font-size: .5rem;
    text-transform: uppercase;
    background: green;
    color: white;
    border: 1px solid #fff;
    font-weight: 400;
    cursor: pointer;
    border-radius: 20px;
}

.btn-light {
    background: transparent;
    color: #fff;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
}